<div class="card-panel teal">
    <span class="white-text">
       <a href={{this.link}}>{{this.title}}</a> 
        {{this.summary}}

    </span>
    <button class="save-article" data-id="{{this.id}}">
        Save This Article
    </button>
</div>