<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">NPR News Scrape</a>
    </div>
</nav>
<div class="row">
    <div class="col s3 nav">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">NPR New Scrape</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/articles">Home</a></li>
                <li><a href="/saved">Saved Articles</a></li>
            </ul>
            {{>buttons/scrape}}
            {{>buttons/clear}}
        </div>
    </div>


    <div class="col s9 main">
        <div class="row">
            <div class="col s12" id="articles">
               {{#if articles}}
                {{#each articles}}
                <div class="card-panel teal">
                    <span class="white-text">
                        {{this.title}}
                        {{this.link}}
                        {{this.summary}}
                    </span>
                    {{>buttons/save}}
                    {{>buttons/delete}}
                </div>
                {{/each}}
                {{else}}
                    <div class="card-panel teal">
                    <span class="white-text">
                       It looks like there are no articles currently, hit the scrape button to the left to get some new ones!
                    </span>
                {{/if}}
            </div>
        </div>
    </div>
</div>