<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Saved Articles</a>
    </div>
</nav>
<div class="row">
    <div class="col s3 nav">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">NPR News Scrape</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/articles">Home</a></li>
                <li><a href="/saved">Saved Articles</a></li>
            </ul>
            {{>buttons/clear}}
        </div>
    </div>


    <div class="col s9 main">
        <div class="row">
            <div class="col s12" id="articles">
               {{#if savedArticle}}
                {{#each savedArticle}}
                    {{#if isSaved}}
                        {{>savedArt }}
                    {{/if}}
                {{/each}}
                {{else}}
                    <div class="card-panel teal">
                    <span class="white-text">
                       There are no saved articles.
                       <a href="/articles">Browse available articles</a>
                    </span>
                {{/if}}
            </div>
        </div>
    </div>
</div>