<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">NPR News Scrape</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/articles">Home</a></li>
                <li class="active"><a href="/saved">Saved Articles</a></li>

                <li>{{>buttons/clear}}</li>
            </ul>
        </div>
    </nav>
</div>
<div class="row">
    <div class="col s3">
        <div class="row">
            <div class="col s12">
                <div class="comments card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title" id="commentTitle"><strong>Comments</strong></span>
                        <div class="comment-body"></div>
                        <ul class="comment-list"></ul>
                        <div class="text-input"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col s9 main">
        <div class="row">
            <div class="col s12" id="articles">
                {{#if savedArticle}}
                {{#each savedArticle}}
                {{#if isSaved}}
                {{>savedArt }}
                {{/if}}
                {{/each}}
                {{else}}
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="/assets/Images/pexels-photo-518543.jpeg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content center-align">
                            <span>
                                There are no saved articles.
                            </span>
                        </div>
                        <div class="card-action">
                            <a href="/articles">Browse available articles</a>
                        </div>
                    </div>
                </div>
                {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>